.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 20px 0px;
  color: $bgColor;
  background-color: $titleColor;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-family: Forum;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.6px;
    cursor: pointer;
  }

  &__burger {
    display: none;
    @media (max-width: ($md2)) {
      display: block;
      width: 45px;
      height: 20px;
      z-index: 99;
      &.active span {
        height: 0;
      }
      &.active span::before {
        transform: rotate(-45deg);
        bottom: -13px;
        left: 0px;
        width: 45px;
      }
      &.active span:after {
        transform: rotate(45deg);
        bottom: -12px;
        left: 0px;
        width: 45px;
      }
      span {
        height: 1px;
        width: 45px;
        display: block;
        background-color: #fff;
        position: relative;
        margin-top: -1px;
        &::before,
        &::after {
          position: absolute;
          content: '';
          height: 1px;
          width: 45px;
          background-color: #fff;
        }
        &::before {
          bottom: -10px;
        }
        &::after {
          bottom: -20px;
        }
      }
    }
  }

  &__back,
  &__back-register {
    display: none;
    &.active {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 10;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 42px;
    position: relative;
  }

  &__nav {
    @media (max-width: ($md2)) {
      display: none;
      position: absolute;
      right: -200%;
      top: -30px;
      z-index: 51;
      transition: all 0.3s ease 0s;
      &.active {
        display: block;
        right: -18%;
        top: -30px;
        background-color: #0c0c0e;
        width: 332px;
        padding: 115px 0px 100px;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
    @media (max-width: ($md2)) {
      flex-direction: column;
      z-index: 99;
      gap: 60px;
    }
  }

  &__link {
    color: $bgColor;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease 0s;
    &:hover {
      color: $buttonsColor;
    }
  }

  &__user {
    z-index: 99;
  }

  &__profile {
    display: block;
    width: 28px;
    height: 28px;
    z-index: 99;
    transition: all 0.3s ease 0s;
    background: url('../src/assets/images/icons/profile.svg') no-repeat center;
    &:hover {
      background: url('../src/assets/images/icons/profile-hover.svg') no-repeat center;
    }
    &.signed-up {
      background: #fff;
      border-radius: 50%;
      color: $buttonsColor;
      text-align: center;
      font-size: 15px;
    }
  }
}

.register {
  display: none;
  position: absolute;
  top: 31;
  right: 0;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 5px 0px 7px;
  width: 80px;
  &.active {
    display: block;
  }
  @media (max-width: ($md2)) {
    right: 86px;
  }
  &__title {
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 7px;
    &.signed-up {
      font-size: 10px;
    }
  }
  &__line {
    display: block;
    height: 1px;
    width: 40px;
    background-color: $buttonsColor;
    margin: 0 auto;
  }
  &__list {
    margin-top: 15px;
  }
  &__item {
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      color: $buttonsColor;
    }
  }
}
