.librarycard {
  &__body {
    padding: 58px 0px 40px;
    @media (max-width: ($md2)) {
      padding: 55px 0px 40px;
    }
  }

  &__title {
  }

  &__line {
  }

  &__columns {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    @media (max-width: ($md2)) {
      flex-direction: column;
      align-items: center;
      gap: 2px;
    }
  }

  &__reader {
  }
}

.form {
  width: 600px;
  &__title {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    line-height: normal;
    letter-spacing: 0.6px;
  }

  &__form {
    margin-top: 30px;
    padding: 17px 17px 29px;
    border: 3px solid $buttonsColor;
    background: $bgColor;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  &__content {
    background: $buttonsColor;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  &__text {
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
  }

  &__input {
    border-radius: 10px;
    background: $bgColor;
    padding: 16px 20px;
    color: $buttonsColor;
    font-family: Forum;
    font-size: 30px;
    letter-spacing: 0.6px;
    &::placeholder {
      color: #8e8e8e;
      font-family: Forum;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.6px;
    }
    &:not(:first-child) {
      margin-bottom: 5px;
    }
  }

  &__button {
    margin: 20px auto 0px;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 9px 40px;
  }
}

.reader {
  max-width: 460px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  @media (max-width: ($md2)) {
    gap: 39px;
    max-width: 544px;
  }

  &__title {
    text-align: right;
    font-family: Forum;
    font-size: 30px;
    line-height: normal;
    letter-spacing: 0.6px;
    @media (max-width: ($md2)) {
      text-align: center;
    }
  }

  &__text {
    text-align: right;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.4px;
    @media (max-width: ($md2)) {
      text-align: center;
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    @media (max-width: ($md2)) {
      justify-content: center;
    }
  }

  &__button {
    width: 75px;
    padding: 8px 10px;
  }
}
