$fontFamily: 'Inter';
$fontSize: 20px;

$mainTextColor: #000000;
$titleColor: #0c0c0e;
$buttonsColor: #bb945f;
$bgColor: #ffffff;
$grayColor: #8e8e8e;

//Media
$maxWidthContainer: 1400px; //max size of container
$minWidth: 320px;
$maxWidth: 1440px;
$md1: 1420px;
$md2: 1300px;
$md3: 768px;
$md4: 380px;
