@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,regular,italic,500,700,900);

@import './css/reset.css';
@import './css/variables.css';
@import './css/header.css';
@import './css/main.css';
@import './css/footer.css';

.wrapper {
  background-color: var(--main-bg-color);
  font-weight: 300;
  font-size: 18px;
}
