.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 2px solid var(--main-hover-color);
}

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logo-text {
  font-weight: 500;
  font-size: 20px;
  color: var(--main-hover-color);
}

.search {
  position: relative;
  width: 300px;
}

.search input {
  display: block;
  width: 100%;
  padding: 10px 70px 10px 10px;
  border-radius: 20px;
  font-size: 16px;
  transition: var(--transition);
  &:focus {
    outline: 1px solid var(--main-hover-color);
  }
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 7px;
  cursor: pointer;
  transition: var(--transition);
  &:hover {
    opacity: 0.7;
  }
}

.close-icon {
  position: absolute;
  right: 40px;
  top: 6px;
  cursor: pointer;
  display: none;
  transition: var(--transition);
  &:hover {
    opacity: 0.7;
  }
}

.close-icon.active {
  display: block;
}
