.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  font-weight: 500;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.levels {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.level {
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid var(--main-bg2-color);
  background: var(--secondary-bg-color);
  padding: 7px 10px;
}

.level.active {
  background-color: var(--main-bg2-color);
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition);
  &:hover {
    opacity: 0.8;
  }
}

.info-bar {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.level,
.hints,
.sound {
  transition: var(--transition);
  background: var(--secondary-bg-color);
  border: 2px solid var(--main-bg2-color);
  border-radius: 5px;
  padding: 7px 10px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.hints.active,
.level.active,
.sound.active {
  background-color: var(--main-bg2-color);
}

.sound {
  width: 40px;
  height: 35px;
  background: var(--secondary-bg-color) url('../assets/images/volume_off.svg') center / contain
    no-repeat;
}

.sound.active {
  background: var(--main-bg2-color) url('../assets/images/volume.svg') center / contain no-repeat;
}

.board {
  width: 454px;
  height: 454px;
  margin: 0 auto;
  border: 1px solid var(--ceil-color);
  background-color: var(--ceil-color);
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1px;
}

.digits {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 50px;
}

.digit {
  background-color: var(--ceil-color);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid var(--main-bg3-color);
}

.ceil {
  width: 49px;
  height: 49px;
  border: 2px solid var(--main-bg3-color);
  border-radius: 5px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  border: 1px solid var(--main-hover-color);
}

.moves-count,
.time-count {
  color: var(--main-hover-color);
  font-weight: 500;
  font-size: 1.1em;
  font-family: 'Black Ops One', serif;
}
