:root {
  --main-bg-color: #222;
  --secondary-bg-color: rgba(34, 34, 34, 0.7);
  --ceil-color: #201c16;
  --main-bg2-color: rgba(253, 205, 79, 0.5);
  --main-bg3-color: rgba(253, 205, 79, 0.3);
  --main-font-color: #ffffff;
  --main-hover-color: rgb(253, 205, 79);
  --transition: all 0.3s ease 0s;
}
