@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Forum:regular);

@import '../styles/variables.scss';
@import '../styles/reset.scss';

html {
  scroll-behavior: smooth;
}

body {
  color: $mainTextColor;
  font-family: $fontFamily;
  position: relative;
  @media (max-width: ($md3+px)) {
    &.lock {
      overflow: hidden;
    }
  }
}

.wrapper {
  min-height: 100%;
  width: $maxWidth;
  // overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @media (max-width: ($md2)) {
    width: 100%;
  }
}

.container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
  @media (max-width: ($md1)) {
    max-width: 1300px;
  }
  @media (max-width: $md2) {
    max-width: none;
    padding: 0 20px;
  }
}

@import '../styles/ui.scss';
@import '../styles/header.scss';
@import '../styles/welcome.scss';
@import '../styles/about.scss';
@import '../styles/favorites.scss';
@import '../styles/coffeshop.scss';
@import '../styles/contacts.scss';
@import '../styles/librarycard.scss';
@import '../styles/footer.scss';
@import '../styles/signup.scss';
@import '../styles/login.scss';
@import '../styles/profile.scss';
